/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/films/filminf/infostyle.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.infostyle_container__5qaSR{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items:start;
    gap: 24px;

    color: #1B1F23;
}

.infostyle_poster__G9DS9{
    width: 100px;
    height: 120px;

    border-radius: 8px;
}

.infostyle_title__c6CX6 a{
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #1B1F23;

    margin-bottom: 8px;
}

.infostyle_text__nt_ES{
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/buttons/buttonsstyle.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.buttonsstyle_container__1MPxs{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items:center;

    box-sizing: border-box;

}

.buttonsstyle_button__289sy{
    width: 20px;
    height: 20px;

    border-radius: 4px;
    padding: 4px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.buttonsstyle_digit__JbFjE{
    font-family: 'Libre Franklin', sans-serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
}

.buttonsstyle_active__onsgl{
    background: #FF5500;
    cursor: pointer;
}

.buttonsstyle_disabled__qo6_Y{
    background: #FFA375;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/films/filmlist/liststyle.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.liststyle_container__W8rG6{
    background-color: white;
    padding: 24px;
    margin: 24px 32px;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.liststyle_control_panel__Ssnta{
    margin-left: auto;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.liststyle_wrapper__Kbhlg{
    margin-left: 25%;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/filter/inputfilter/inputstyle.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.inputstyle_filter_name__4vg3N{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
    margin-bottom: 4px;
    display: block;
}

.inputstyle_input__hepQO{
    background: #FFFFFF;
    outline: none;

    border: 1px solid #E1E3E6;
    border-radius: 8px;
    width: 100%;

    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;

    /* Text/tertiary */
    color: #999FA6;
}
  

.inputstyle_input__hepQO:focus{
    /* Text/primary */
    color: #1B1F23;

    border: 1px solid #FF5500;
}

.inputstyle_container__1ADJv{
    width:100%;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/icons/arrow.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.arrow_icon__xYRy8{
    transform: rotate(180deg);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/filter/selectfilter/selectstyle.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.selectstyle_filter_name__Lf2Ph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
    margin-bottom: 4px;
}

.selectstyle_placeholder__Z_G49{
    background: #FFFFFF;
    outline: none;

    border-radius: 8px;
    flex-grow: 1;

    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    width: 270px;
    display: flex;
    justify-content: space-between;

    -webkit-user-select: none;

       -moz-user-select: none;

            user-select: none;
    cursor: pointer;
}

.selectstyle_active_placeholder__94gKG{
    /* Text/primary */
    color: #1B1F23;

    border: 1px solid #FF5500;
}

.selectstyle_disabled_placeholder__bNfzL{
    color: #999FA6;

    border: 1px solid #E1E3E6;
}

.selectstyle_popup__kiBT4{
    margin-top: 4px;
    background-color: white;
    border: 1px solid #FFFFFF;
    padding: 8px;
    /* Shadow */
    box-shadow: 0px 10px 22px -4px rgba(27, 31, 35, 0.12);
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    width: 270px;
    box-sizing: border-box;
}

.selectstyle_popup_item__K8Wlz{
    padding: 12px;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Text/primary */
    color: #1B1F23;
    cursor: pointer;
}

.selectstyle_continaer__GNW3y{
    width: 100%;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_container__HHToX{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin: 24px 32px;
    box-sizing: border-box;
    position: fixed;
    top: 60px; 
    bottom: 25px;
    overflow-y: auto;
    gap: 16px;
    flex: auto;

    margin-bottom: 86px;
    width: 23%;

    background: #FFFFFF;
    border-radius: 8px;
}

.page_title__yhPp_{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
}

.page_filter_container__YRQIq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-sizing: border-box;
    width:100%
}
