.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    margin: 24px 32px;
    border-radius: 8px;
    background-color: white;
}

.control_panel{
    display: flex;
    margin-left: auto;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.wrapper{
    margin-left: 25%;
}