.screen{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 104px
}

.window{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    width: 344px;
    height: 168px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #1B1F23;
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1B1F23;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.orange{
    padding: 8px 16px;
    background: #FF5500;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.outline{
    padding: 8px 16px;
    border: 1px solid #FF5500;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* Orange */
    color: #FF5500;
}

.icon{
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}