.filtername{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    display: block;
    color: #1B1F23;
}

.input{
    outline: none;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    background: #FFFFFF;
    color: #999FA6;
}
  

.input:focus{
    color: #1B1F23;
    border: 1px solid #FF5500;
}

.container{
    width:100%;
}