/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/films/filminf/infostyle.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.infostyle_container__5qaSR{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items:start;
    gap: 24px;

    color: #1B1F23;
}

.infostyle_poster__G9DS9{
    width: 100px;
    height: 120px;

    border-radius: 8px;
}

.infostyle_title__c6CX6 a{
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #1B1F23;

    margin-bottom: 8px;
}

.infostyle_text__nt_ES{
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/buttons/buttonsstyle.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.buttonsstyle_container__1MPxs{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items:center;

    box-sizing: border-box;

}

.buttonsstyle_button__289sy{
    width: 20px;
    height: 20px;

    border-radius: 4px;
    padding: 4px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.buttonsstyle_digit__JbFjE{
    font-family: 'Libre Franklin', sans-serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
}

.buttonsstyle_active__onsgl{
    background: #FF5500;
    cursor: pointer;
}

.buttonsstyle_disabled__qo6_Y{
    background: #FFA375;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/modal/modalstyle.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.modalstyle_screen__Q2xFa{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalstyle_title_container__cW8m2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 104px
}

.modalstyle_window__E4hLk{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    width: 344px;
    height: 168px;
}

.modalstyle_title__OVUN0{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #1B1F23;
}

.modalstyle_text__SOKnp{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #1B1F23;
}

.modalstyle_buttons__GQ9iq{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.modalstyle_orange__K0Sy4{
    padding: 8px 16px;
    background: #FF5500;
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.modalstyle_outline__q4rEw{
    padding: 8px 16px;
    border: 1px solid #FF5500;
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* Orange */
    color: #FF5500;
}

.modalstyle_icon__Od18D{
    margin-left: auto;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/films/filmcart/cartstyle.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.cartstyle_container__b_Bcs{
    background-color: white;
    padding: 24px;
    margin: 24px 32px 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cartstyle_control_panel___pkIO{
    margin-left: auto;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cartstyle_reset__x5ZLd{
    cursor: pointer;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/sum/sum.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.sum_container__61DJo{
    background: white;
    padding: 24px;
    border-radius: 8px;
    margin: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sum_text__ce_kp{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    
    /* Text/primary */
    color: #1B1F23;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/cart/page.style.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page_style_void__gAtrF{
    flex-grow: 1;
}
