.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin: 24px 32px;
    box-sizing: border-box;
    position: fixed;
    top: 60px; 
    bottom: 25px;
    overflow-y: auto;
    gap: 16px;
    flex: auto;

    margin-bottom: 86px;
    width: 23%;

    background: #FFFFFF;
    border-radius: 8px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* Text/primary */
    color: #1B1F23;
}

.filter_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-sizing: border-box;
    width:100%
}